/* question input box  */
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.input {
    width: 200px;
    height: 25px;
    margin: 50px;
}

/* black part of 8ball */
.large-circle {
    height: 500px;
    width: 500px;
    background-color: black;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: center;

}

.small-circle {
    height: 275px;
    width: 275px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    /* align-items: center; */
    margin-top: 110px;
}

/* triangle that holds answer */
/* .triangle {
    --side-size: 100px;
    border-left: var(--side-size) solid transparent;
    border-right: var(--side-size) solid transparent;
    border-top: calc(2 * var(--side-size) * 0.866) solid green;
    border-bottom: var(--side-size) solid transparent;
    display: inline-block;
    margin-top: 70px;
    text-align: center;
    color: white;
} */

/* p {
    text-align: center;
    top: 80px;
    left: -47px;
    position: relative;
    width: 93px;
    height: 93px;
    margin: 0px; 
    color:aliceblue
} */
/* p {
    position: absolute;
  color: #fff;
  left: -50%;
  top: -90px;
  display: block;
  width: 200px;
  height: 180px;
  transform: translate(-50%,-50%);
  text-align: center;
  box-sizing: border-box;
  padding: 30px 0;
  transition: all .25s ease;
} */

.triangle {
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 100px 173.2px 100px;
    border-color: transparent transparent blue transparent;
    float: left;
    transform:rotate(180deg);
    display:block;
    margin-left: 40px;
    margin-top: 60px;
}

.triangle span {
    text-align: center;
    left: -47px;
    top:25px;
    position: relative;
    width: 93px;
    height: 93px;
    margin: 0px;
    transform:rotate(180deg);
    display:block;
    color: white;
}
